* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #17a2B8;
}

section {
    background-color: #fff;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

label {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

input {
    width: 308px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 20px;
}

.qr_code {
    padding: 25px;
    width: fit-content;
    background-color: red;
    display: none;
}


.generer {
    color: #fff;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.recomencer {
    color: #fff;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.recomencer a {
    text-decoration: none;
    color: #fff;
}
.generer:hover{
    color: black;
    background-color: #fff;
}
.recomencer:hover{
    color: black;
    background-color: #fff;
}
a:hover{
    color: black;
    background-color: #fff;
}
